p {
    text-align: center;
    background-color: text-align;
    border: 5px solid green;
}
form {
    text-align: center;
}
section {
    text-align: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
li {
    text-align: center;
}